body {
    background-color: #cccc99;
    font-color: #2a3f80;
}
#content {
    position: relative;
}
    #content>.spinner {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: white;
        opacity: 0.6;
    }
        #content>.spinner>.spinner-loader {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -20px;
        }