body {
    #background-color: #cccc99;
    #font-color: #2a3f80;
}
#content {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
    #content h1.title {
        font-size: 25px;
        text-transform: uppercase;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        text-align: center;
        margin-bottom: 10px;
    }
    #content .breadcrumb {
        margin-top: 30px;
        background-color: #FFFFFF;
        border-radius:0px;
        padding: 0;
    }
        #content .breadcrumb>li {
            font-size: 13px;
            padding-right: 7px;
        }
            #content .breadcrumb>li>a {
                color: #363636;
                text-decoration: underline;
            }
            #content .breadcrumb>li>a:hover {
                text-decoration: none;
            }
            #content .breadcrumb>li>span {
                color: #ccc;
            }

    #content>.spinner {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: white;
        opacity: 0.6;
    }
        #content>.spinner>.spinner-loader {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -20px;
        }

.alerts-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    left: 40px;
    width: 350px;
}