<div class="modal-news-bg" ui-sref="news"></div>
<div class="modal-news modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="close" ui-sref="news">
                <span>×</span>
            </button>
            <div class="news-view">
                <h1 class="title">{{news.name}}</h1>
                <div class="image">
                    <img ng-src="{{news.image}}">
                </div>
                <div class="pull-right statistic">
                    <div class="likes" ng-class="{'liked':news.isLiked}" ng-click="setLike(news.isLiked);">
                        <i class="glyphicon glyphicon-thumbs-up"></i> {{news.likesCount}}
                    </div>
                </div>
                <div class="time">
                    {{news.create_time | date: "MM/dd/yyyy 'at' h:mma"}}
                </div>
                <div class="descroption">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi viverra maximus porttitor. Sed pulvinar id purus ac porta. Aenean ultrices id augue sed auctor. Praesent porttitor erat eget erat cursus, sed hendrerit diam dapibus. Suspendisse aliquet orci quis vestibulum lobortis. Donec sodales libero odio, non auctor mi ultrices et. Suspendisse ac justo lacus. Aenean sollicitudin urna ac dui mollis ullamcorper. Sed suscipit pretium dolor, imperdiet commodo metus aliquam eu. Praesent congue dui vel diam venenatis consequat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc accumsan elit in erat bibendum, vitae placerat lectus faucibus.</p>
                    <p>Nulla sit amet semper turpis, in eleifend tortor. Nullam venenatis turpis eget suscipit convallis. Nulla sed erat imperdiet, fringilla tellus a, lacinia ipsum. Sed eget venenatis lacus, vel facilisis ante. Nullam fermentum vehicula ultrices. Vivamus quis eros ut sem blandit congue. Duis pharetra sit amet eros vehicula blandit. Vestibulum vel vehicula ex.</p>
                    <p>Nunc non odio ac sem aliquet viverra. Sed eu purus elit. Phasellus ac iaculis odio. In eu libero a augue imperdiet elementum a sed elit. Morbi eu diam non enim cursus pharetra. Vivamus eget metus nec urna cursus fringilla. Proin vehicula luctus turpis, id dapibus quam tristique non. Fusce accumsan dolor tempus faucibus fringilla. Praesent dapibus tortor ultrices porta tempus. Aliquam erat volutpat. Aenean ut quam nec lorem accumsan aliquam. Vivamus quis tellus et augue placerat vehicula quis quis magna. Sed in leo accumsan, vestibulum nulla non, volutpat nulla. Vestibulum dapibus, urna vitae vehicula bibendum, nulla dui bibendum dui, eu luctus turpis orci ut odio.</p>
                </div>
            </div>
            <div class="news-comments" ng-if="news.comments">
                <h2>Comments</h2>
                <div ng-repeat="comment in news.comments" class="comment">
                    <div class="author">{{comment.author}}</div>
                    <div class="date">{{comment.create_time | date: "MM/dd/yyyy 'at' h:mma"}}</div>
                    <div class="text">
                        {{comment.text}}
                    </div>
                </div>
                <div class="add-comment">
                    <form novalidate>
                        <div class="form-group">
                            <label for="comment-text">Your comment</label>
                            <textarea class="form-control" ng-model="comment.text" id="comment-text" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-success" ng-click="addComment(comment)">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
